<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-4">
        <div class="col-12 centered">
            <h1 style="text-align: center;">
                Subscripciones
            </h1>
        </div>
    </div>
    <hr>
    <div class="row gy-3 gm-3">
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let subscription of subscriptions; let i = index">
            <div class="card">
                <h3 class="tittle-card">&nbsp;{{ i + 1 }}</h3>
                <img src="../../../assets/images/portada.jpg" alt="image" class="card-img-top">
                <div class="card-body centered">
                    <h3 class="card-tittle">Plan: {{subscription.nombre_plan | titlecase}}</h3>
                    <h4 class="card-tittle">Descripción: {{subscription.descripcion}}</h4>
                    <h4 class="card-tittle">Duración: {{subscription.periodicidad}}</h4>
                    <h4 class="card-tittle">Precio: {{subscription.precio}} Bs</h4>
                </div>
                <div class="card-footer">
                    <div class="centered">
                        <button (click)="paymentSubscription(subscription.uid)" type="button" class="btn btn-outline-info btn-block btn-lg">
                            Pagar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>