<div class="image" style="background-image: url('../../../assets/images/fondo-plomo.jpg'); overflow-y: hidden;">
    <div class="row " style="align-items: center;">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card text-center sombreado">
                <div class="card-body ">
                    <h3 class="card-title">Inicio de Sesión</h3>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" id="email" class="form-control" name="email" placeholder="Ingresar Correo" [(ngModel)]="email" autocomplete="off" spellcheck="false">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <!-- <input type="password" id="password" class="form-control " name="password" (keydown.enter)="redirect()" placeholder="Ingresar Contraseña" [(ngModel)]="password"> -->
                            <input type="password" class="form-control" placeholder="Ingresar Contraseña" (keydown.enter)="login()" [(ngModel)]="password">
                        </div>
                    </div>
                    <input type="button" name="btnIniciar" value="Iniciar Sesión" class="btn btn-primary button-ingresar" style="margin-top: 10px;" (click)="login()">
                    <input type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Registrar" class="btn btn-primary" (click)="redirect()" style="margin-top: 10px; margin-left: 10px;">
                </div>
            </div>
        </div>
    </div>
</div>